<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Blog</title>
</head>
<body >
<section class="bg-teal-600 W-full p-x-0">
    <!-- navbar -->
    <nav class="relative container  mx-auto p-6 ">
        <div class="flex items-center justify-between">

            <div class="">
                <a href="{% url 'post_list' %}" class="text-white text-lg hover:text-gray-200 transition-colors">Home</a>   
            </div>

            <div class="text-white">
                <a href="">HARRISON MURAYA</a>
            </div>

            <div class="space-x-6 md:flex text-white">
                <a href="{% url 'register' %}">Register</a>
                <a href="#">Login</a>

            </div>

        </div>

     </nav>
</section>

    

<!-- Main Content Section -->
<main class="">
    <div class="bg-teal-500 ">
         {% block content %}{% endblock %}
    </div>
   
</main>

</body>
</html>
