
{% extends 'base/base.html' %}

{% block content %}


<div class="flex items-center justify-center min-h-screen bg-gray-100">
      <!-- left side -->
      <div class="flex flex-col justify-center p-8 md:p-14">
        <span class="mb-3 text-4xl font-bold">Welcome back</span>
        <span class="font-light text-gray-400 mb-8">
          Welcom back! Please enter your details
        </span>
        <div class="relative bg-inherit mb-6">
            <input type="text" name="email"
            id="email"
            class="peer bg-transparent h-12 w-72 rounded-lg text-teal-600 placeholder-transparent
             ring-2 px-2 pt-4 ring-teal-500 focus:ring-sky-600 focus:outline-none "
             placeholder="email"/>

          <label for="email"
          class="absolute cursor-text left-0 -top-2.5 text-sm text-teal-500 bg-inherit mx-1 px-1 
          peer-placeholder-shown:text-base peer-placeholder-shown:text-teal-600 peer-placeholder-shown:top-2 peer-focus:-top-3
          peer-focus:text-sky-600 peer-focus:text-sm transition-all">
          Email</label>
        </div>


        <div class="relative bg-inherit mb-6">
            <input type="text" name="email"
            id="email"
            class="peer bg-transparent h-10 w-72 rounded-lg text-teal-600 placeholder-transparent
             ring-2 px-2 ring-teal-500 focus:ring-sky-600 focus:outline-none "
             placeholder="email"/>

          <label for="email"
          class="absolute cursor-text left-0 -top-3 text-sm text-teal-500 bg-inherit mx-1 px-1 
          peer-placeholder-shown:text-base peer-placeholder-shown:text-teal-600 peer-placeholder-shown:top-2 peer-focus:-top-3
          peer-focus:text-sky-600 peer-focus:text-sm transition-all">
          Email</label>
        </div>

        
        <div class="py-4">
          <span class="mb-2 text-md">Password</span>
          <input
            type="password"
            name="pass"
            id="pass"
            class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"
          />
        </div>
        <div class="flex justify-between w-full py-4">
          <div class="mr-24">
            <input type="checkbox" name="ch" id="ch" class="mr-2" />
            <span class="text-md">Remember for 30 days</span>
          </div>
          <span class="font-bold text-md">Forgot password</span>
        </div>
        <button
          class="w-full bg-black text-white p-2 rounded-lg mb-6 hover:bg-white hover:text-black hover:border hover:border-gray-300"
        >
          Sign in
        </button>
        <button
          class="w-full border border-gray-300 text-md p-2 rounded-lg mb-6 hover:bg-black hover:text-white"
        >
          <img src="google.svg" alt="img" class="w-6 h-6 inline mr-2" />
          Sign in with Google
        </button>
        <div class="text-center text-gray-400">
          Dont'have an account?
          <span class="font-bold text-black">Sign up for free</span>
        </div>
      </div>
    
  </div>

{% endblock %}





